<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Learn with Awoo!</title>
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/second.css" rel="stylesheet">

</head>

<body data-spy="scroll">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Learn with Awoo!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/portal">Portal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/parentportal">Parent Portal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/awoo">About Awoo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container" style="padding-top: calc(7rem);">
    <section id='#info'>

</div>
<div class="row" id="ParentalControl">
  
</div>
</section>
</div>


<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; Learn with Awoo 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
  var myData;
  function trigger(ctrl) {
    var name, subname;
    [name, subname] = ctrl.id.split('|');
    var toBan = '/unban/';
    if(myData[name][subname]['allowed']) {
      toBan = '/ban/';
    }

    $.get(toBan + name + '/' + subname, function(data) {
      // do nothing
      console.log(data + toBan);
      myData[name][subname]['allowed'] = !myData[name][subname]['allowed'];
    })
  }


  $.get("/all_data", function(data) {
    myData = data['data'];
    for(var name in data['data']) {
      var name2=name.charAt(0).toUpperCase() + name.slice(1);

      var name3=name.replace(' ', '_'); 
      $('#ParentalControl').append(`<div class="col-lg-12 "><button data-toggle="collapse" data-target=".${name3}" style="width: 100%; margin: 10px">${name2}</button></div>`) 
      for(var subname in data['data'][name]) {
        var isChecked = ' checked';
        if(myData[name][subname]['allowed']) {
          isChecked = ''
        }
        var subname2=subname.charAt(0).toUpperCase() + subname.slice(1);
        $('#ParentalControl').append(`<div class="col-lg-3 collapse ${name3}" style="margin: 10px; width: 30%"><input id="${name}|${subname}"" type="checkbox" style="margin: 5px" onClick=trigger(this) ${isChecked}>${subname2}</div>`) 
      }
    }
  })


</script>


</body>

</html>
